@import url(https://fonts.googleapis.com/css?family=Questrial|Biryani:800);


body {
    max-width: 100%;
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}
/* header section */
#header {
    width: 100%;
    max-height: 900px;
    padding: 5px;
    text-align: center;
    font-family: 'Biryani', sans-serif;
    background-color: #afd33d;
    line-height: 0;
    color: #fff;
    display: inline-block;
}

#header > h1 {
    font-size: 15vmin;
    text-shadow: 0px 0px 8px #595858;
    font-weight: 300;
}

#header > h2 {
    font-size: 5vmin;
    font-style: italic;
    opacity: 0.7;
    padding: 0;
}

.photo {
    -webkit-border-radius: 50%;
    color: transparent;
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-image: url('/img/pic.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    margin: 0 auto;
    -webkit-filter: grayscale(1);
    -webkit-transition: 0.2s ease all;
}

.photo:hover {
    box-shadow: 0 4px 8px -1px #000;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.11);
}

nav {
    display: inline-block;
    padding: 5px;
    padding-left: 0;
    align-content: center;
}
.links { 
    width: 100%;
    padding: 0;
}
.links li {
    text-align: center;
    display: inline-block;
    float: left;
    padding: 8px;
    border-right: 1px solid #fff;
}

.links li:last-child {
    border-right: none;
}

.out {
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    width: 100%;
    padding: 8px;
    transition: 0.2s ease all;
}

.out:hover {
    color: #afd33d;
    -webkit-border-radius: 8px;
    background-color: #000;
    font-style: oblique;
}

.portfolio:hover {
    -webkit-border-radius: 8px 0 8px 8px;
}

.work:hover {
   color: #a60000;
}

.cont:hover {
    color: #444444;
     -webkit-border-radius: 0px 8px 8px 8px;
}

#header.fix-head {
    position: fixed;
    top: 0px;
    height: 50px;
    transition: 0.3s ease all;
 
    z-index: 1000;
}

#header.fix-head > h1 {
    font-size: 3em;
    display: block;
    margin-top: 20px;
}

#header.fix-head > h2 {
    font-size: 1em;
    display: block;
    margin-top: -5px;
}

#header.fix-head > .photo {
    float: left;
    left: 8px;
    top: 5px;
    height: 60px;
    width: 60px;
    position: absolute;
}
#header.fix-head > nav {
    right: 0;
    top: 5px;
    position: absolute;
}
/* content section */
#content {
    width: inherit;
    height: auto;
    display: block;
    margin: 0;
    padding: 30px;
    font-family: sans-serif;
    color: #fff;
}

#content h1 {
    font-size: 5.3vmin;
    font-family: 'Biryani', sans-serif;
    background-image: url('http://s2.postimg.org/trrtefcs5/headx.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10%;
    vertical-align: middle;
    width: auto;
    padding-top: 12px;
    text-indent: 50px;
    letter-spacing: 1px;
    margin-top: 3px;
    margin-bottom: 2px;
}

#content h2 {
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 5px;
}

#content p {
    margin-top: 0;
    padding: 15px;
    font-family: 'Questrial', sans-serif;
    font-weight: lighter;
    line-height: 20px;
}

.Summary {
    width: 33.3%;
    float: left;
    position: static;
    margin: 0;
}

.workExp {
    width: 33.3%;
    float: left;
    position: static;
}



.workSection {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.Skills {
    width: 33.3%;
    float: left;
    position: static;
    margin: 0;
}

.Lang {
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 5px;
    visibility: hidden;
    list-style-position: inside;
    list-style-type: square;
    font-family: 'Questrial', sans-serif;
}

#footer {
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: #121212;
    font-family: 'Questrial', sans-serif;
    display: inline-block;
    bottom: 0px;
    padding: 20px;
    position: static;
    line-height: 1px;
}

/* footer */ 
#footer > p {
    font-size: 11px;
    padding: 2px;
}

#footer a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: 0.2s ease all;
}

#footer a:hover {
   color: #afd33d;
}

/* Mobile optimisation */
@media only screen and (max-width:768px) {
    
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    
    #header {
        width: 100%;
        padding: 0;
    }
    
    #header.fix-head {
    position: fixed;
    top: 0px;
    height: 90px;
    text-align: center;
 
    z-index: 1000;
}

#header.fix-head > h1 {
    font-size: 2.5em;
    display: block;
    margin-top: 32px;
    margin-left: 25px;
}

#header.fix-head > h2 {
    font-size: 0.9em;
    display: block;
    margin-top: -5px;
    margin-left: 25px;
}

#header.fix-head > .photo {
    left: 8px;
    top: 5px;
    height: 70px;
    width: 70px;
    position: absolute;
    display: block;
}
#header.fix-head > nav {
    position: relative;
    margin-top: -18px;
    font-size: 0.9em;
}
    
    #content {
        padding: 5px;
        margin: 0 auto;
    }
    
    #content h1 {
        padding-bottom: 0;
        font-size: 26px;
        background-size: 10% / 3;
    }
    #content h2 {
        
    }
    
    .Summary {
        width: auto;
        height: auto;
        display: block;
        padding: 1px;
        box-sizing: border-box;
    }
    
    .Skills {
        width: auto;
        height: auto;
        font-size: auto;
        display: block;
        padding: 1px;
        box-sizing: border-box;
    }
    
    .workExp {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .Lang {
        display: block;
        visibility: visible;
        text-align: left;
        height: auto;
        width: 100%;
    }
    
    #footer {
        max-width: 100%;
        padding: 20px 0;
    }
    
    #footer > p {
        text-align: center;
        line-height: normal;
        margin-bottom: -11px; 
    }
}
