@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:800");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html, body {
  width: 100%;
  height: 100%;
  font-size: calc(9.6px + 0.75vw);
  background-color: #DFDFDF;
  color: #575757;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  position: relative;
  margin-top: 0;
  color: #575757;
}

h1, h2, h3 {
  font-family: 'Montserrat', Roboto, Sans-serif;
  letter-spacing: -0.035em;
  line-height: 0.75;
  color: #434343;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 800;
}

h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
}
h4 + h4, h5 + h4, h6 + h4, h4 + h5, h5 + h5, h6 + h5, h4 + h6, h5 + h6, h6 + h6 {
  margin-top: -0.7em;
  opacity: 0.54;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

h6 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  padding: 0 0.3em;
}
p a:hover {
  color: #718b1f;
  border-bottom: 1px dotted #718b1f;
}
p a:visited {
  color: #ab2525;
  border: 1px dotted #ab2525;
}

a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  color: #93b429;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ltm-emblem {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 0;
  padding-bottom: 4em;
  opacity: 0.2;
  margin: 0.3em 0.3em 2em 0.3em;
}
.ltm-emblem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/LTM__logo.svg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.ltm-emblem.invert {
  mix-blend-mode: difference;
}

.custom-svg svg {
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #575757;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero .ltm-emblem {
  margin: 2em;
}
.hero .main-content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-1.2em, 0.5em);
          transform: translate(-1.2em, 0.5em);
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .main-content.fade {
  opacity: 0.07;
}
.hero .main-content h1 {
  margin: 0;
  font-size: 9em;
}

.about {
  margin-top: 100vh;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .copy-container {
  padding: 2em;
  width: 60%;
}
.about .copy-container .social-outbound {
  margin-top: 1em;
}
.about .copy-container .social-outbound ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .copy-container .social-outbound ul li {
  cursor: pointer;
  position: relative;
  width: 33.33333%;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.about .copy-container .social-outbound ul li:hover:before {
  -webkit-transform: translate(-50%, -55%) scale(1);
          transform: translate(-50%, -55%) scale(1);
}
.about .copy-container .social-outbound ul li:hover a {
  color: #4A705A;
}
.about .copy-container .social-outbound ul li:hover a[class*="twitter"] {
  color: #1DA1F2;
}
.about .copy-container .social-outbound ul li:hover a[class*="dribbble"] {
  color: #EA4C89;
}
.about .copy-container .social-outbound ul li:hover a[class*="codepen"] {
  color: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="instagram"] {
  color: #E4405F;
}
.about .copy-container .social-outbound ul li:hover a[class*="vsco"] {
  color: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="vsco"] svg {
  fill: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="github"] {
  color: #181717;
}
.about .copy-container .social-outbound ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%) scale(0);
          transform: translate(-50%, -55%) scale(0);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 1px dotted #93b429;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about .copy-container .social-outbound ul li:nth-child(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.about .copy-container .social-outbound ul li:nth-child(2) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.about .copy-container .social-outbound ul li:nth-child(3) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}
.about .copy-container .social-outbound ul li:nth-child(4) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.about .copy-container .social-outbound ul li:nth-child(5) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
.about .copy-container .social-outbound ul li:nth-child(6) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.about .copy-container .social-outbound ul li a {
  color: #575757;
  font-size: 2em;
}
.about .copy-container .social-outbound ul li a svg {
  width: 1em;
  height: 1em;
}
.about .copy-container .footer {
  text-align: right;
  font-family: 'Inconsolata', monospace;
  margin-top: 1em;
  font-size: 0.85em;
}

@media screen and (max-width: 786px) {
  .about {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 5em;
  }
  .about .copy-container {
    width: 100%;
  }
  .about .copy-container .social-outbound ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .copy-container .social-outbound ul li {
    height: 5em;
    line-height: 5em;
    padding-top: 3px;
  }
  .about .copy-container .social-outbound ul li a {
    position: relative;
  }
  .about .copy-container .social-outbound ul li a:after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 0.6em;
    margin-top: 0.12em;
  }
  .about .copy-container .social-outbound ul li a svg {
    margin-top: 13px;
  }
  .about .copy-container .footer {
    text-align: center;
  }
}
@media screen and (max-width: 562px) {
  .hero .main-content h1 {
    font-size: 7em;
  }
}
