@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:800");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html, body {
  width: 100%;
  height: 100%;
  font-size: calc(9.6px + 0.75vw);
  color: #121212;
  background-color: #FFFFFF;
}
html.theme1, body.theme1 {
  color: #FFFFFF;
  background-color: #121212;
}
html.theme1 h1, html.theme1 h2, html.theme1 h3, html.theme1 h4, html.theme1 h5, html.theme1 h6, html.theme1 p,
html.theme1 .about .copy-container .social-outbound ul li a, body.theme1 h1, body.theme1 h2, body.theme1 h3, body.theme1 h4, body.theme1 h5, body.theme1 h6, body.theme1 p,
body.theme1 .about .copy-container .social-outbound ul li a {
  color: #FFFFFF;
}
html.theme1 h1 svg, html.theme1 h2 svg, html.theme1 h3 svg, html.theme1 h4 svg, html.theme1 h5 svg, html.theme1 h6 svg, html.theme1 p svg,
html.theme1 .about .copy-container .social-outbound ul li a svg, body.theme1 h1 svg, body.theme1 h2 svg, body.theme1 h3 svg, body.theme1 h4 svg, body.theme1 h5 svg, body.theme1 h6 svg, body.theme1 p svg,
body.theme1 .about .copy-container .social-outbound ul li a svg {
  fill: #FFFFFF;
}
html.theme1 .ltm-emblem, body.theme1 .ltm-emblem {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
html.theme2, body.theme2 {
  color: #c55103;
  background-color: #462206;
}
html.theme2 h1, html.theme2 h2, html.theme2 h3, html.theme2 h4, html.theme2 h5, html.theme2 h6, html.theme2 p,
html.theme2 .about .copy-container .social-outbound ul li a, body.theme2 h1, body.theme2 h2, body.theme2 h3, body.theme2 h4, body.theme2 h5, body.theme2 h6, body.theme2 p,
body.theme2 .about .copy-container .social-outbound ul li a {
  color: #c55103;
}
html.theme2 h1 svg, html.theme2 h2 svg, html.theme2 h3 svg, html.theme2 h4 svg, html.theme2 h5 svg, html.theme2 h6 svg, html.theme2 p svg,
html.theme2 .about .copy-container .social-outbound ul li a svg, body.theme2 h1 svg, body.theme2 h2 svg, body.theme2 h3 svg, body.theme2 h4 svg, body.theme2 h5 svg, body.theme2 h6 svg, body.theme2 p svg,
body.theme2 .about .copy-container .social-outbound ul li a svg {
  fill: #c55103;
}
html.theme2 a, body.theme2 a {
  color: #FFFFFF;
}
html.theme2 .ltm-emblem, body.theme2 .ltm-emblem {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
html.theme3, body.theme3 {
  color: #4e3d59;
  background-color: #a4be22;
}
html.theme3 h1, html.theme3 h2, html.theme3 h3, html.theme3 h4, html.theme3 h5, html.theme3 h6, html.theme3 p,
html.theme3 .about .copy-container .social-outbound ul li a, body.theme3 h1, body.theme3 h2, body.theme3 h3, body.theme3 h4, body.theme3 h5, body.theme3 h6, body.theme3 p,
body.theme3 .about .copy-container .social-outbound ul li a {
  color: #4e3d59;
}
html.theme3 h1 svg, html.theme3 h2 svg, html.theme3 h3 svg, html.theme3 h4 svg, html.theme3 h5 svg, html.theme3 h6 svg, html.theme3 p svg,
html.theme3 .about .copy-container .social-outbound ul li a svg, body.theme3 h1 svg, body.theme3 h2 svg, body.theme3 h3 svg, body.theme3 h4 svg, body.theme3 h5 svg, body.theme3 h6 svg, body.theme3 p svg,
body.theme3 .about .copy-container .social-outbound ul li a svg {
  fill: #4e3d59;
}
html.theme3 a, body.theme3 a {
  color: #D23131;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: #FFFFFF;
  background-color: #121212;
}

::selection {
  color: #FFFFFF;
  background-color: #121212;
}

h1, h2, h3, h4, h5, h6, p {
  position: relative;
  margin-top: 0;
  color: #121212;
}

h1, h2, h3 {
  font-family: 'Montserrat', Roboto, Sans-serif;
  letter-spacing: -0.035em;
  line-height: 0.75;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 800;
}

h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
}
h4 i, h5 i, h6 i {
  font-size: .7em;
  display: inline-block;
  vertical-align: baseline;
}
h4 + h4, h5 + h4, h6 + h4, h4 + h5, h5 + h5, h6 + h5, h4 + h6, h5 + h6, h6 + h6 {
  color: rgba(18, 18, 18, 0.54);
  margin-top: -0.7em;
  font-size: 1.5em;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.5em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.5em;
}

h6 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  padding: 0 0.3em;
  text-align: justify;
}
p a:hover {
  color: #718b1f;
  border-bottom: 1px dotted #718b1f;
}
p a:visited {
  color: #ab2525;
  border: 1px dotted #ab2525;
}

a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  color: #93b429;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
a::-moz-selection {
  color: #fff;
  background: #afd33d;
}
a::selection {
  color: #fff;
  background: #afd33d;
}

.ltm-emblem {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 0;
  padding-bottom: 4em;
  opacity: 0.07;
  margin: 0.3em 0.3em 2em 0.3em;
}
.ltm-emblem:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/LTM__logo.svg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.ltm-emblem.invert {
  mix-blend-mode: difference;
}

.custom-svg svg {
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #121212;
}

.hllwn-ghost {
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: .2em;
  opacity: 0;
}
.hllwn-ghost path {
  fill: #ccc;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-corner {
  display: inline-block;
}
.hero-corner:hover .hero-corner-theme {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.hero-corner .ltm-emblem {
  margin: 2em;
}
.hero-corner-theme {
  display: block;
  margin: 2em;
  width: 2.3em;
  margin-top: 0;
  -webkit-transform: translatex(calc(-100% - 2em));
          transform: translatex(calc(-100% - 2em));
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-corner-theme .swatch {
  position: relative;
  cursor: pointer;
  display: block;
  width: 2em;
  height: 2em;
  margin: 1em 0;
  border-radius: 50%;
  background-color: #ccc;
  box-shadow: inset 0 0 0 0.2em rgba(255, 255, 255, 0.3);
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.hero-corner-theme .swatch:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  border-color: transparent transparent transparent #ccc;
  border-width: .5em;
  border-style: solid;
  opacity: 0;
}
.hero-corner-theme .swatch:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.hero-corner-theme .swatch:hover:before {
  opacity: .54;
}
.hero-corner-theme .swatch.current:before {
  opacity: 1;
}
.hero-corner-theme .swatch:nth-child(1) {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 0.2em rgba(18, 18, 18, 0.3);
}
.hero-corner-theme .swatch:nth-child(1).current:before {
  border-color: transparent transparent transparent #121212;
}
.hero-corner-theme .swatch:nth-child(2) {
  background-color: #121212;
  box-shadow: inset 0 0 0 0.2em rgba(255, 255, 255, 0.3);
}
.hero-corner-theme .swatch:nth-child(2).current:before {
  border-color: transparent transparent transparent #FFFFFF;
}
.hero-corner-theme .swatch:nth-child(3) {
  background-color: #462206;
  box-shadow: inset 0 0 0 0.2em rgba(197, 81, 3, 0.3);
}
.hero-corner-theme .swatch:nth-child(3):hover:before {
  display: none;
}
.hero-corner-theme .swatch:nth-child(3):hover .hllwn-ghost {
  opacity: .54;
}
.hero-corner-theme .swatch:nth-child(3).current:before {
  display: none;
}
.hero-corner-theme .swatch:nth-child(3).current .hllwn-ghost {
  opacity: 1;
}
.hero-corner-theme .swatch:nth-child(3).current .hllwn-ghost path {
  fill: #c55103;
}
.hero-corner-theme .swatch:nth-child(4) {
  background-color: #a4be22;
  box-shadow: inset 0 0 0 0.2em rgba(78, 61, 89, 0.3);
}
.hero-corner-theme .swatch:nth-child(4).current:before {
  border-color: transparent transparent transparent #4e3d59;
}
.hero .main-content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-1.2em, 0.5em);
          transform: translate(-1.2em, 0.5em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .main-content.fade {
  opacity: 0.07;
}
.hero .main-content h1 {
  margin: 0;
  font-size: 9em;
}

.about {
  margin-top: 100vh;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about .copy-container {
  padding: 2em;
  width: 60%;
}
.about .copy-container .social-outbound {
  margin-top: 1em;
}
.about .copy-container .social-outbound ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .copy-container .social-outbound ul li {
  cursor: pointer;
  position: relative;
  width: 33.33333%;
  padding: 0;
  display: inline-block;
  text-align: center;
  -webkit-transform: translatey(0);
          transform: translatey(0);
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about .copy-container .social-outbound ul li:hover {
  -webkit-transform: translatey(-5px);
          transform: translatey(-5px);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.about .copy-container .social-outbound ul li:hover a[class*="twitter"] {
  color: #1DA1F2;
}
.about .copy-container .social-outbound ul li:hover a[class*="dribbble"] {
  color: #EA4C89;
}
.about .copy-container .social-outbound ul li:hover a[class*="codepen"] {
  color: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="instagram"] {
  color: #E4405F;
}
.about .copy-container .social-outbound ul li:hover a[class*="vsco"] {
  color: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="vsco"] svg {
  fill: #000;
}
.about .copy-container .social-outbound ul li:hover a[class*="github"] {
  color: #181717;
}
.about .copy-container .social-outbound ul li:nth-child(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.about .copy-container .social-outbound ul li:nth-child(2) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.about .copy-container .social-outbound ul li:nth-child(3) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}
.about .copy-container .social-outbound ul li:nth-child(4) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.about .copy-container .social-outbound ul li:nth-child(5) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
.about .copy-container .social-outbound ul li:nth-child(6) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.about .copy-container .social-outbound ul li a {
  color: #121212;
  font-size: 2em;
}
.about .copy-container .social-outbound ul li a svg {
  width: 1em;
  height: 1em;
}
.about .copy-container .footer {
  text-align: right;
  font-family: 'Inconsolata', monospace;
  margin-top: 1.5em;
  font-size: 0.85em;
}

.message-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.message-form.open {
  visibility: visible;
  opacity: 1;
}
.message-form div,
.message-form span {
  width: 50%;
}
.message-form span {
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: #afd33d;
}

@media screen and (max-width: 786px) {
  html.theme1 .hero-corner-theme, body.theme1 .hero-corner-theme {
    background-color: #121212;
    border: 2px solid #FFFFFF;
  }
  html.theme2 .hero-corner-theme, body.theme2 .hero-corner-theme {
    background-color: #462206;
    border: 2px solid #c55103;
  }
  html.theme3 .hero-corner-theme, body.theme3 .hero-corner-theme {
    background-color: #a4be22;
    border: 2px solid #4e3d59;
  }

  .hero-corner:hover .hero-corner-theme {
    -webkit-transform: translatex(-50%) translatey(-5%);
            transform: translatex(-50%) translatey(-5%);
  }
  .hero-corner-theme {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translatex(-50%) translatey(-80%);
            transform: translatex(-50%) translatey(-80%);
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 2em 0;
    width: unset;
    background-color: #FFFFFF;
    border: 2px solid #121212;
  }
  .hero-corner-theme .swatch {
    display: inline-block;
    margin: 0 1em;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .hero-corner-theme .swatch:hover {
    -webkit-transform: rotate(-90deg) scale(1.1);
            transform: rotate(-90deg) scale(1.1);
  }
  .hero-corner-theme .swatch svg {
    -webkit-transform: rotate(90deg) translatex(-50%);
            transform: rotate(90deg) translatex(-50%);
    -webkit-transform-origin: center;
            transform-origin: center;
  }

  .about {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 5em;
  }
  .about .copy-container {
    width: 100%;
  }
  .about .copy-container .social-outbound ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .copy-container .social-outbound ul li {
    height: 5em;
    line-height: 5em;
    padding-top: 3px;
  }
  .about .copy-container .social-outbound ul li a {
    position: relative;
  }
  .about .copy-container .social-outbound ul li a:after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 0.6em;
    margin-top: 0.12em;
  }
  .about .copy-container .social-outbound ul li a svg {
    margin-top: 13px;
  }
  .about .copy-container .footer {
    text-align: center;
  }

  .message-form {
    padding-top: 7em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .message-form span, .message-form div {
    width: 100%;
  }
}
@media screen and (max-width: 562px) {
  .hero .main-content h1 {
    font-size: 7em;
  }
}
