@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Lets set some standards, k?
$green: #afd33d;
$red: #D23131;
$text: #575757;
$bg: #FDFDFD;
$instagradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$colors: (primary: $green, accent: $red, text: $text, background: $bg);
$links:(twitter: #1DA1F2, dribbble: #EA4C89, codepen: #000, instagram: #E4405F, vsco: #000, github: #181717);
$social: map-keys($links);
$primary-accent: map-get($colors, primary);
$secondary-accent: map-get($colors, accent);
$near: 225ms;
$far: 375ms;
$vfar: 600ms;
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$material-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$transition: (
	bounce: $bounce,
	material: $material-curve,
	e-in: $ease-in,
 	e-out: $ease-out
);
$space: unquote(' ');
$images:(1075, 1081, 1053, 1044, 1045, 1021, 873, 868, 737);
$uurl: unquote('https://unsplash.it/1920/1080?image=')+nth($images, random(length($images)));
$unsplash: url('#{$uurl}');
$emblem: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/LTM__logo.svg');
$me: url('https://secure.gravatar.com/avatar/e2a5b810db87d57c68e4712d8e9a6e00?size=500');

@mixin transition($t: all, $d: $near, $i: $material-curve) {
	transition: $t $d $i;
}
@mixin background($img: null, $p: center, $s: cover, $r: no-repeat, $a: scroll, $c: #ccc) {
	@if ($img) {
		background-image:$img;
		background-size: $s;
		background-repeat: $r;
		background-position: $p;
		background-attachment: $a;
	}
	background-color: $c;
}
@mixin constants() {
	h1, h2, h3, h4, h5, h6, p {
		position: relative;
		margin-top: 0;
		color: $text;
	}
	h1, h2, h3 {
		font-family: 'Montserrat', Roboto, Sans-serif;
		letter-spacing: -0.035em;
		line-height: 0.75;
		color: #434343;
		text-transform: uppercase;
		margin-bottom: 0.5em;
		font-weight: 800;
	}
	h4, h5, h6 {
		font-family: 'Inconsolata', monospace;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0.5em;
		& + & {
			margin-top: -0.7em;
			opacity: 0.54;
		}
	}
	@for $e from 1 through 6 {
		$reduce: $e / 2;
		$size: 5em - $reduce;
		h#{$e} {
			font-size: $size;
		}
	}
	p {
		font-size: 1.1em;
		line-height: 1.5;
		font-family: 'Inconsolata', monospace;
		padding: 0 0.3em;
		a {
			&:hover {
				color: darken($primary-accent, 20%);
				border-bottom: 1px dotted darken($primary-accent, 20%);
			}
			&:visited {
				color: darken($secondary-accent, 10%);
				border: 1px dotted darken($secondary-accent, 10%);
			}
		}
	}
	a {
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		text-decoration: none;
		line-height: 1;
		font-family: 'Inconsolata', monospace;
		color: darken($primary-accent, 10%);
		@include transition;
	}
}
@mixin emblem($s: 4em) {
	.ltm-emblem {
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: $s;
		height: 0;
		padding-bottom: $s;
		opacity: 0.2;
		margin: 0.3em 0.3em 2em 0.3em;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: $emblem;
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.invert {
			mix-blend-mode: difference;
		}
	}
	.custom-svg {
		svg {
			@include transition;
			fill:$text;
		}
	}
}
@function font($to, $from, $toWidth, $fromWidth) {
	$slope: ($to - $from) / ($toWidth - $fromWidth);
	$base: $from - $slope * $fromWidth;

	@return calc(#{$base} + #{100vw * $slope});
}
$baseFont: font(24px, 12px, 1920px, 320px);
/// --  doc body
html, body {
	width: 100%;
	height: 100%;
	font-size: $baseFont;
	// @include background($unsplash, $a: fixed);
	background-color: #DFDFDF;
	color: $text;
}
* {
	box-sizing: border-box;
}
::selection {
	color: #121212;
	background: rgba($green, .12);
}
@include constants;
@include emblem;

.hero {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.ltm-emblem {
		margin: 2em;
	}
	.main-content {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(-1.2em, 0.5em);
		@include transition;
		&.fade {
			opacity: 0.07;
		}
		h1 {
			margin: 0;
			font-size: 9em;
		}
	}
}
.about {
	margin-top: 100vh;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.copy-container {
		padding: 2em;
		width: 60%;
		.social-outbound {
			margin-top: 1em;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				width: 100%;
				display: flex;
				justify-content: space-between;
				li {
					cursor: pointer;
					position: relative;
					width: (100 / 3) * 1%;
					padding: 0;
					display: inline-block;
					text-align: center;
					&:hover {
						&:before {
							transform: translate(-50%, -55%) scale(1);
						}
						a {
							color: #4A705A;
							@each $color in $social {
								&[class*="#{$color}"] {
									@if $color == vsco {
										svg {
											fill: map-get($links, vsco);
										}
									} 
									color: map-get($links, #{$color});
								}
							}
						}
					}
					&:before {
						content:'';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -55%) scale(0);
						width: 3em;
						height: 3em;
						border-radius: 50%;
						border: 1px dotted darken($primary-accent, 10%);
						@include transition;
					}
					@for $i from 1 through 6 {
						&:nth-child(#{$i}) {
							transition-delay: (50 * $i) * 1ms;
						}
					}
					a {
						color: $text;
						font-size: 2em;
						svg {
							width: 1em;
							height: 1em;
						}
					}
				}
			}
		}
		.footer {
			text-align: right;
			font-family: 'Inconsolata', monospace;
			margin-top: 1em;
			font-size: 0.85em;
		}
	}
}
// +mobile
@media screen and (max-width: 786px) {
	.about {
		align-items: flex-start;
		padding-top: 5em;
		.copy-container {
			width: 100%;
			.social-outbound {
				ul {
					flex-wrap: wrap;
					li {
						height: 5em;
						line-height: 5em;
						padding-top: 3px;
						a {
							position: relative;
							&:after {
								content: attr(title);
								position: absolute;
								top: 100%;
								left: 50%;
								transform: translatex(-50%);
								display: inline-block;
								font-family: 'Inconsolata', monospace;
								font-size: 0.6em;
								margin-top: 0.12em;
							}
							svg {
								margin-top: 13px;
							}
						}
					}
				}
			}
			.footer {
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 562px) {
	.hero {
		.main-content {
			h1 {
				font-size: 7em
			}
		}
	}
}