body, html {
    margin: 0;
    max-width: 100%;
}

#header {
    width: 100%
    font-size: 50px;
    text-shadow: 2px 1px #363636;
    font-family: sans-serif;
    font-weight: 300;
}

.photo {
    border-radius: 50%;
    width: 30px;
    height: auto;
}