<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>LtradeRing -- Webring [draft]</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="wr">
	<div class="x-page" v-if="!redirecting">
		<div class="x-page-header">
			<h1>Webring</h1>
		</div>
		<div class="x-page-body">
			<ol>
				<li v-for="(item, idx) in links"><a :href="item['gsx$url']['$t']">{{ item['gsx$url']['$t'] }}</a></li>
			</ol>
		</div>
		<div class="x-page-footer">
			<p>20xx &copy; copyright. Ltrademark&reg; is a registered trademark. All Rights Reserved</p>
			<a href="https://ltrdmrk.co/1/webring"><img :src="shareTag" alt="Share This Ring" title="LtradeRing"></a>
		</div>	
	</div>
	<div class="x-redirect" v-if="redirecting">
		<div class="x-page-header">
			<h1>Webring</h1>
		</div>
		<div class="x-page-body" style="text-align: center;">
			<b>{{ redirectTime > 0 ? 'Redirecting in ' + redirectTime + ' seconds': redirectTime }}</b>
			<div style="margin: 20px;padding: 10px; border: 1px solid white;">
				<a href="#" @click.stop="stopRedirect">Stop Redirecting</a>
			</div>
		</div>
		<div class="x-page-footer">
			<p>20xx &copy; copyright. Ltrademark&reg; is a registered trademark. All Rights Reserved</p>
			<a href="https://ltrdmrk.co/1/webring"><img :src="shareTag" alt="Share This Ring" title="LtradeRing"></a>
		</div>	
	</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
