@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'weather';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: none;
  text-rendering: geometricPrecision;
  cursor: default;
}

::-moz-selection {
  background-color: transparent;
  color: #afd33d;
  fill: #afd33d;
}

::selection {
  background-color: transparent;
  color: #afd33d;
  fill: #afd33d;
}

:root {
  font-family: "hack", monospace;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000 19px, transparent 1%) center, linear-gradient(#000000 19px, transparent 1%) center, #404040;
  background-size: 20px 20px;
  background-position: center;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(250, 250, 250, 0.1)), to(transparent));
  background-image: linear-gradient(transparent, rgba(250, 250, 250, 0.1), transparent);
  background-size: 4px 4px;
  background-position: 0% 0%;
  -webkit-animation: scan 30s linear infinite;
          animation: scan 30s linear infinite;
  pointer-events: none;
  z-index: 5;
}

@-webkit-keyframes scan {
  to {
    background-position: 0% 100%;
  }
}

@keyframes scan {
  to {
    background-position: 0% 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
  font-weight: 800;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #afd33d;
}

a::-moz-selection {
  color: #fafafa;
}

a::selection {
  color: #fafafa;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .overlay {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(90deg, #000000 19px, transparent 1%) center, linear-gradient(#000000 19px, transparent 1%) center, #404040;
  background-size: 20px 20px;
  background-position: center;
  border: 1px solid #fafafa;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fafafa;
  min-height: 50px;
}

@media screen and (max-width: 786px) {
  .modal-header {
    text-align: center;
  }
}

.modal-header h2 {
  padding: 10px 20px;
  font-size: 1.5em;
}

@media screen and (max-width: 786px) {
  .modal-header .modal-close {
    display: none;
  }
}

.modal-footer {
  border-top: 1px solid #fafafa;
  min-height: 50px;
}

@media screen and (min-width: 786px) {
  .modal-footer {
    display: none;
  }
}

.modal-footer--close {
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.modal-body {
  padding: 20px;
}

.modal-body p + p {
  margin-top: 20px;
}

.modal-body p svg {
  display: inline-block;
  vertical-align: -2px;
  width: auto;
  height: 1em;
}

.modal-close {
  cursor: pointer;
  font-size: 2em;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  color: rgba(250, 250, 250, 0.54);
  border-left: 1px solid #fafafa;
}

.modal-close:hover, .modal-close:active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.15);
}

.sound-vis {
  position: relative;
  height: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sound-vis--small {
  width: 30px;
  height: 15px;
}

.sound-vis--small i {
  width: 1px;
}

.sound-vis.audio-playing i {
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
  height: 10%;
}

.sound-vis.audio-playing i:nth-child(1) {
  -webkit-animation: playing-1 5s linear infinite alternate;
          animation: playing-1 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(2) {
  -webkit-animation: playing-2 5s linear infinite alternate;
          animation: playing-2 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(3) {
  -webkit-animation: playing-3 5s linear infinite alternate;
          animation: playing-3 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(4) {
  -webkit-animation: playing-4 5s linear infinite alternate;
          animation: playing-4 5s linear infinite alternate;
}

.sound-vis.audio-playing i:nth-child(5) {
  -webkit-animation: playing-5 5s linear infinite alternate;
          animation: playing-5 5s linear infinite alternate;
}

.sound-vis.audio-paused i {
  height: 10%;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

.sound-vis i {
  display: inline-block;
  background-color: #fafafa;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 1px;
      flex-basis: 1px;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

@-webkit-keyframes playing-1 {
  5% {
    height: 57%;
  }
  10% {
    height: 9%;
  }
  15% {
    height: 82%;
  }
  20% {
    height: 2%;
  }
  25% {
    height: 67%;
  }
  30% {
    height: 48%;
  }
  35% {
    height: 7%;
  }
  40% {
    height: 5%;
  }
  45% {
    height: 66%;
  }
  50% {
    height: 64%;
  }
  55% {
    height: 67%;
  }
  60% {
    height: 45%;
  }
  65% {
    height: 22%;
  }
  70% {
    height: 66%;
  }
  75% {
    height: 84%;
  }
  80% {
    height: 91%;
  }
  85% {
    height: 44%;
  }
  90% {
    height: 16%;
  }
  95% {
    height: 68%;
  }
  100% {
    height: 47%;
  }
}

@keyframes playing-1 {
  5% {
    height: 57%;
  }
  10% {
    height: 9%;
  }
  15% {
    height: 82%;
  }
  20% {
    height: 2%;
  }
  25% {
    height: 67%;
  }
  30% {
    height: 48%;
  }
  35% {
    height: 7%;
  }
  40% {
    height: 5%;
  }
  45% {
    height: 66%;
  }
  50% {
    height: 64%;
  }
  55% {
    height: 67%;
  }
  60% {
    height: 45%;
  }
  65% {
    height: 22%;
  }
  70% {
    height: 66%;
  }
  75% {
    height: 84%;
  }
  80% {
    height: 91%;
  }
  85% {
    height: 44%;
  }
  90% {
    height: 16%;
  }
  95% {
    height: 68%;
  }
  100% {
    height: 47%;
  }
}

@-webkit-keyframes playing-2 {
  5% {
    height: 91%;
  }
  10% {
    height: 68%;
  }
  15% {
    height: 5%;
  }
  20% {
    height: 7%;
  }
  25% {
    height: 66%;
  }
  30% {
    height: 40%;
  }
  35% {
    height: 31%;
  }
  40% {
    height: 87%;
  }
  45% {
    height: 53%;
  }
  50% {
    height: 26%;
  }
  55% {
    height: 31%;
  }
  60% {
    height: 81%;
  }
  65% {
    height: 6%;
  }
  70% {
    height: 32%;
  }
  75% {
    height: 22%;
  }
  80% {
    height: 52%;
  }
  85% {
    height: 8%;
  }
  90% {
    height: 90%;
  }
  95% {
    height: 62%;
  }
  100% {
    height: 14%;
  }
}

@keyframes playing-2 {
  5% {
    height: 91%;
  }
  10% {
    height: 68%;
  }
  15% {
    height: 5%;
  }
  20% {
    height: 7%;
  }
  25% {
    height: 66%;
  }
  30% {
    height: 40%;
  }
  35% {
    height: 31%;
  }
  40% {
    height: 87%;
  }
  45% {
    height: 53%;
  }
  50% {
    height: 26%;
  }
  55% {
    height: 31%;
  }
  60% {
    height: 81%;
  }
  65% {
    height: 6%;
  }
  70% {
    height: 32%;
  }
  75% {
    height: 22%;
  }
  80% {
    height: 52%;
  }
  85% {
    height: 8%;
  }
  90% {
    height: 90%;
  }
  95% {
    height: 62%;
  }
  100% {
    height: 14%;
  }
}

@-webkit-keyframes playing-3 {
  5% {
    height: 24%;
  }
  10% {
    height: 22%;
  }
  15% {
    height: 60%;
  }
  20% {
    height: 34%;
  }
  25% {
    height: 6%;
  }
  30% {
    height: 74%;
  }
  35% {
    height: 76%;
  }
  40% {
    height: 100%;
  }
  45% {
    height: 78%;
  }
  50% {
    height: 57%;
  }
  55% {
    height: 51%;
  }
  60% {
    height: 44%;
  }
  65% {
    height: 27%;
  }
  70% {
    height: 63%;
  }
  75% {
    height: 52%;
  }
  80% {
    height: 46%;
  }
  85% {
    height: 86%;
  }
  90% {
    height: 46%;
  }
  95% {
    height: 58%;
  }
  100% {
    height: 22%;
  }
}

@keyframes playing-3 {
  5% {
    height: 24%;
  }
  10% {
    height: 22%;
  }
  15% {
    height: 60%;
  }
  20% {
    height: 34%;
  }
  25% {
    height: 6%;
  }
  30% {
    height: 74%;
  }
  35% {
    height: 76%;
  }
  40% {
    height: 100%;
  }
  45% {
    height: 78%;
  }
  50% {
    height: 57%;
  }
  55% {
    height: 51%;
  }
  60% {
    height: 44%;
  }
  65% {
    height: 27%;
  }
  70% {
    height: 63%;
  }
  75% {
    height: 52%;
  }
  80% {
    height: 46%;
  }
  85% {
    height: 86%;
  }
  90% {
    height: 46%;
  }
  95% {
    height: 58%;
  }
  100% {
    height: 22%;
  }
}

@-webkit-keyframes playing-4 {
  5% {
    height: 86%;
  }
  10% {
    height: 55%;
  }
  15% {
    height: 66%;
  }
  20% {
    height: 95%;
  }
  25% {
    height: 37%;
  }
  30% {
    height: 18%;
  }
  35% {
    height: 15%;
  }
  40% {
    height: 23%;
  }
  45% {
    height: 35%;
  }
  50% {
    height: 16%;
  }
  55% {
    height: 43%;
  }
  60% {
    height: 91%;
  }
  65% {
    height: 4%;
  }
  70% {
    height: 49%;
  }
  75% {
    height: 19%;
  }
  80% {
    height: 5%;
  }
  85% {
    height: 4%;
  }
  90% {
    height: 60%;
  }
  95% {
    height: 4%;
  }
  100% {
    height: 84%;
  }
}

@keyframes playing-4 {
  5% {
    height: 86%;
  }
  10% {
    height: 55%;
  }
  15% {
    height: 66%;
  }
  20% {
    height: 95%;
  }
  25% {
    height: 37%;
  }
  30% {
    height: 18%;
  }
  35% {
    height: 15%;
  }
  40% {
    height: 23%;
  }
  45% {
    height: 35%;
  }
  50% {
    height: 16%;
  }
  55% {
    height: 43%;
  }
  60% {
    height: 91%;
  }
  65% {
    height: 4%;
  }
  70% {
    height: 49%;
  }
  75% {
    height: 19%;
  }
  80% {
    height: 5%;
  }
  85% {
    height: 4%;
  }
  90% {
    height: 60%;
  }
  95% {
    height: 4%;
  }
  100% {
    height: 84%;
  }
}

@-webkit-keyframes playing-5 {
  5% {
    height: 37%;
  }
  10% {
    height: 88%;
  }
  15% {
    height: 94%;
  }
  20% {
    height: 45%;
  }
  25% {
    height: 39%;
  }
  30% {
    height: 30%;
  }
  35% {
    height: 90%;
  }
  40% {
    height: 53%;
  }
  45% {
    height: 53%;
  }
  50% {
    height: 94%;
  }
  55% {
    height: 40%;
  }
  60% {
    height: 94%;
  }
  65% {
    height: 5%;
  }
  70% {
    height: 18%;
  }
  75% {
    height: 34%;
  }
  80% {
    height: 54%;
  }
  85% {
    height: 52%;
  }
  90% {
    height: 40%;
  }
  95% {
    height: 5%;
  }
  100% {
    height: 65%;
  }
}

@keyframes playing-5 {
  5% {
    height: 37%;
  }
  10% {
    height: 88%;
  }
  15% {
    height: 94%;
  }
  20% {
    height: 45%;
  }
  25% {
    height: 39%;
  }
  30% {
    height: 30%;
  }
  35% {
    height: 90%;
  }
  40% {
    height: 53%;
  }
  45% {
    height: 53%;
  }
  50% {
    height: 94%;
  }
  55% {
    height: 40%;
  }
  60% {
    height: 94%;
  }
  65% {
    height: 5%;
  }
  70% {
    height: 18%;
  }
  75% {
    height: 34%;
  }
  80% {
    height: 54%;
  }
  85% {
    height: 52%;
  }
  90% {
    height: 40%;
  }
  95% {
    height: 5%;
  }
  100% {
    height: 65%;
  }
}

#ltrademark {
  width: 100%;
  height: 100%;
  color: #fff;
}

#ltrademark section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
}

#ltrademark section.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ltrademark section.hero .info-cont .ltm-emblem {
  margin-bottom: 2em;
}

#ltrademark section.hero .info-cont h1 {
  margin: .2em 0;
}

#ltrademark section.hero .info-cont p {
  line-height: 1.4;
}

#ltrademark section.hero .weather-icons {
  padding: 0;
  display: inline-block;
  font-size: 1.6em;
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  margin-right: .1em;
  line-height: 1;
}

#ltrademark section.hero .weather-icons.icon-0:before {
  content: ":";
}

#ltrademark section.hero .weather-icons.icon-1:before {
  content: "p";
}

#ltrademark section.hero .weather-icons.icon-2:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-3:before {
  content: "Q";
}

#ltrademark section.hero .weather-icons.icon-4:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-5:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-6:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-7:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-8:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-9:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-10:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-11:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-12:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-13:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-14:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-15:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-16:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-17:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-18:before {
  content: "U";
}

#ltrademark section.hero .weather-icons.icon-19:before {
  content: "Z";
}

#ltrademark section.hero .weather-icons.icon-20:before {
  content: "Z";
}

#ltrademark section.hero .weather-icons.icon-21:before {
  content: "Z";
}

#ltrademark section.hero .weather-icons.icon-22:before {
  content: "Z";
}

#ltrademark section.hero .weather-icons.icon-23:before {
  content: "Z";
}

#ltrademark section.hero .weather-icons.icon-24:before {
  content: "E";
}

#ltrademark section.hero .weather-icons.icon-25:before {
  content: "E";
}

#ltrademark section.hero .weather-icons.icon-26:before {
  content: "3";
}

#ltrademark section.hero .weather-icons.icon-27:before {
  content: "a";
}

#ltrademark section.hero .weather-icons.icon-28:before {
  content: "A";
}

#ltrademark section.hero .weather-icons.icon-29:before {
  content: "a";
}

#ltrademark section.hero .weather-icons.icon-30:before {
  content: "A";
}

#ltrademark section.hero .weather-icons.icon-31:before {
  content: "6";
}

#ltrademark section.hero .weather-icons.icon-32:before {
  content: "1";
}

#ltrademark section.hero .weather-icons.icon-33:before {
  content: "6";
}

#ltrademark section.hero .weather-icons.icon-34:before {
  content: "1";
}

#ltrademark section.hero .weather-icons.icon-35:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-36:before {
  content: "1";
}

#ltrademark section.hero .weather-icons.icon-37:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-38:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-39:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-40:before {
  content: "M";
}

#ltrademark section.hero .weather-icons.icon-41:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-42:before {
  content: "I";
}

#ltrademark section.hero .weather-icons.icon-43:before {
  content: "W";
}

#ltrademark section.hero .weather-icons.icon-44:before {
  content: "a";
}

#ltrademark section.hero .weather-icons.icon-45:before {
  content: "S";
}

#ltrademark section.hero .weather-icons.icon-46:before {
  content: "U";
}

#ltrademark section.hero .weather-icons.icon-47:before {
  content: "S";
}

#ltrademark section.footer {
  text-align: center;
  font-size: .76em;
  opacity: 0.54;
}

#ltrademark section.footer p + p {
  margin-top: 10px;
}

#ltrademark .loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(90deg, #000000 19px, transparent 1%) center, linear-gradient(#000000 19px, transparent 1%) center, #404040;
  background-size: 20px 20px;
  background-position: center;
  z-index: 2;
}

#ltrademark .loader-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#afd33d), color-stop(#0e4fcc), to(#afd33d));
  background-image: linear-gradient(to right, #afd33d, #0e4fcc, #afd33d);
  background-size: 300% 5px;
  background-position: 0% 0%;
  -webkit-animation: glow-left 2s ease-in-out infinite;
          animation: glow-left 2s ease-in-out infinite;
}

#ltrademark .social {
  position: relative;
  text-align: center;
}

#ltrademark .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#ltrademark .social ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
}

#ltrademark .social ul li + li {
  margin-left: 10px;
}

#ltrademark .work-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#ltrademark .work-cont ul {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-left: 20px;
  list-style-type: none;
}

#ltrademark .work-cont ul li {
  position: relative;
  font-size: 8px;
  padding-right: 20vw;
}

#ltrademark .work-cont ul li + li {
  margin-top: 20px;
}

#ltrademark .work-cont ul li:hover a {
  visibility: visible;
  opacity: 1;
}

#ltrademark .work-cont ul li span {
  font-weight: 900;
  font-size: 3.5em;
}

#ltrademark .work-cont ul li p {
  font-size: 2em;
  margin-top: 5px;
  opacity: .6;
}

#ltrademark .work-cont ul li a {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px dashed #afd33d;
  padding: 15px;
  font-size: 1.5em;
  text-align: right;
  -webkit-transition: 225ms cubic-bezier(0.4, 0, 0.2, 1) all;
  transition: 225ms cubic-bezier(0.4, 0, 0.2, 1) all;
}

#ltrademark .work-cont ul li a i {
  cursor: inherit;
  display: inline-block;
  vertical-align: middle;
}

#ltrademark .work-cont ul + h1 {
  margin-top: 40px;
}

@-webkit-keyframes glow-left {
  to {
    background-position: -300% 0%;
  }
}

@keyframes glow-left {
  to {
    background-position: -300% 0%;
  }
}

@media screen and (max-width: 290px) {
  #ltrademark section {
    display: none !important;
  }
  #ltrademark:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7A0000 19px, transparent 1%) center, linear-gradient(#7A0000 19px, transparent 1%) center, #F78282;
    background-size: 20px 20px;
    background-position: center;
  }
  #ltrademark:after {
    content: 'oh no \ Screen \ too smol';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    line-height: 1;
  }
}
/*# sourceMappingURL=style.css.map */